$bg: #6639a6;
$top: #FFCE4E;
$line: #E9E9E9;
$translate: 270;
$animation: ease-in-out;

body {
  margin: 0;
}

.frame {
  width: 100vw;
  /* height: 80vh; */
  background: $bg;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
	position: absolute;
	width: 300px;
	height: 260px;
	background: #fff;
	border-radius: 8px;
	overflow: auto;
	box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.2);
  
  .top {
		width: 100%;
		height: 20%;
		background: $top;
	}
  
  .content {
		padding: 10% 8%;
	}
	
	.line {
		height: 14px;
		background: $line;
		margin-bottom: 14px;
    border-radius: 10px;
	}
}

.card-1 {
	animation: switch-1 5s $animation infinite both;	
}

.card-2 {
	animation: switch-2 5s $animation infinite both;	
}

.card-3 {
	animation: switch-3 5s $animation infinite both;	
}

@keyframes switch-1 {
	0%, 100% {
		transform: translateX(0) scale(1);
		box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 2;
	}
	33.33% {
		transform: translateX($translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
	66.66% {
		transform: translateX(-$translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
}

@keyframes switch-2 {
	0%, 100% {
		transform: translateX($translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
	33.33% {
		transform: translateX(-$translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
	66.66% {
		transform: translateX(0) scale(1);
		box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 2;
	}
}

@keyframes switch-3 {
	0%, 100% {
		transform: translateX(-$translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
	33.33% {
		transform: translateX(0) scale(1);
		box-shadow: 4px 8px 12px 0px rgba(0,0,0,0.2);
    z-index: 2;
	}
	66.66% {
		transform: translateX($translate + px) scale(.7);
		box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    z-index: 0;
	}
}